@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800;900&family=Bubblegum+Sans&display=swap');

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Bubblegum Sans", cursive;
}

@layer base {
  body {
    @apply text-slate-900 antialiased;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-100 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-blue-200 rounded-full hover:bg-blue-300 transition-colors;
  }
}
